.noor {
    color: #4CAF50; /* لون النص باللون الأخضر */
    font-size: 2em; /* حجم الخط */
    text-align: center; /* محاذاة النص في الوسط */
    font-family: Arial, sans-serif; /* نوع الخط */
}
